<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Pousada</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <main class='main-container'>
            <div class='container wrapper'>
                <h1 class='title'>Pousada</h1>
                <p>
                    Sem criatividade no momento, vá para /quartos
                </p>
            </div>
        </main>
    </body>
</html>