<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Quarto</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main class='main-container'>
    <div class='container wrapper'>
        <h1 class='title'>Quarto</h1>

        <div class="quartos">
            <div class="quarto" for (quarto in data.quartos)>
                ${quarto.codQuarto}
            </div>
        </div>
    </div>
</main>
</body>
</html>