<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Pousada</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <main class='main-container'>
            <div class='container wrapper'>
                <h1 class='title'>Quartos</h1>

                <div class="tipos-quartos">
                    <div class="quarto" for (tipo in data.tipos)>
                        <div class="quarto__image">
                            <img src="assets/images/${tipo.imagemTipoQuarto}" alt="Quarto ${tipo.nomeTipoQuarto}" title="Quarto ${tipo.nomeTipoQuarto}" class="quarto__image-img" />
                        </div>
                        <div class="quarto__text--title">
                            ${tipo.nomeTipoQuarto}
                        </div>
                        <div class="quarto__text">
                            ${tipo.descricaoTipoQuarto}
                        </div>
                        <a href="quartos/${tipo.nomeTipoQuarto}" class="quarto__btn">
                            VEJA OS QUARTOS
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>