<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Quarto</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<main class='main-container'>
    <div class='container wrapper'>
        <h1 class='title'>${console.log(data)}</h1>
        <p class='quarto__text'>
            ${data.tipoQuarto.descricaoTipoQuarto}.
            <br> Todos eles custam R$${data.tipoQuarto.valorDiariaTipoQuarto} a diária.
        </p>

        <div class="quartos">
            <div class="quarto" for (quarto in data.quartos)>
                <div class="quarto__image">
                    <img src="/assets/images/${data.tipoQuarto.nomeTipoQuarto}s/${quarto.imagemQuarto}" alt="Quarto VIP" title="Quarto VIP" class="quarto__image-img quarto__image-img-detalhes" />
                </div>
                <div class="quarto__informacoes">
                    <div class="quarto__text--title">
                        QUARTO ${quarto.nomeQuarto}
                    </div>

                    <a href="/reserva/${quarto.codQuarto}" class="quarto__btn quarto__btn_reserve">
                        RESERVE
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>