<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Pousada</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <main class='main-container'>
            <div class='container wrapper'>
                <!-- layout de quartos pq to sem ideia pra home -->
                <h1 class='title'>Quartos</h1>

                <div class="quartos">
                    <div class="quarto">
                        <div class="quarto__image">
                            <img src="assets/images/vip.jpg" alt="Quarto VIP" title="Quarto VIP" class="quarto__image-img" />
                        </div>
                        <div class="quarto__text--title">
                            VIP
                        </div>
                        <div class="quarto__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut vehicula dui. Vivamus dictum ornare purus, eget mollis dui mollis nec. Fusce lacus turpis, efficitur sit amet nisi eget, tempor hendrerit elit.
                        </div>
                        <div class="quarto__btn">
                            Alugar
                        </div>
                    </div>
                    <div class="quarto">
                        <div class="quarto__image">
                            <img src="assets/images/apto.jpg" alt="Apartamento" title="Apartamento" class="quarto__image-img" />
                        </div>
                        <div class="quarto__text--title">
                            Apartamento
                        </div>
                        <div class="quarto__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut vehicula dui. Vivamus dictum ornare purus, eget mollis dui mollis nec. Fusce lacus turpis, efficitur sit amet nisi eget, tempor hendrerit elit.
                        </div>
                        <div class="quarto__btn">
                            Alugar
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>