@import '../css/scss/variables.scss';
@import '../css/scss/font.scss';
@import '../css/scss/base.scss';
@import '../css/scss/home.scss';
@import '../css/scss/quartos.scss';
@import '../css/scss/quarto.scss';
@import '../css/scss/contato.scss';
@import '../css/scss/reserva.scss';
@import '../css/scss/admin.scss';