@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Montserrat Regular";
  src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat Medium";
  src: url(../../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat Light";
  src: url(../../assets/fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(../../assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato Regular";
  src: url(../../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Bold";
  src: url(../../assets/fonts/Lato/Lato-Bold.ttf);
}
body {
  background: #fcfffd;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.main-container {
  padding-top: 20px;
}

.title {
  border-bottom: 1px solid #8a8a8a;
  font: 30px/35px "Montserrat Regular", "sans-serif";
  padding-bottom: 5px;
  text-transform: uppercase;
}

.text {
  font: 16px/20px "Lato Regular", "sans-serif";
}

.menu {
  align-items: center;
  background: #64b6ac;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.menu__img {
  width: 130px;
}
.menu__pages {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  margin: 0 30px;
}
.menu__link {
  border-bottom: 2px solid transparent;
  color: #fcfffd;
  font: 18px "Montserrat Bold", "sans-serif";
  outline: none;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.menu__link:hover {
  border-bottom: 2px solid #04030F;
  color: #04030F;
}

.banner {
  background-image: url(../assets/images/banner.jpg);
  background-size: 100%;
  height: 600px;
  position: relative;
}
@media screen and (max-width: 1130px) {
  .banner {
    height: 560px;
  }
}
@media screen and (max-width: 1024px) {
  .banner {
    height: 450px;
  }
}
@media screen and (max-width: 960px) {
  .banner {
    height: 330px;
  }
}
@media screen and (max-width: 758px) {
  .banner {
    height: 230px;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    height: 155px;
  }
}
.banner__title {
  background: #0000008c;
  color: #fcfffd;
  font: 52px "Montserrat Light", "sans-serif";
  padding: 5px;
  position: absolute;
  top: 15%;
  right: 70px;
  transform: translateY(-50%);
}
@media screen and (max-width: XL) {
  .banner__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 960px) {
  .banner__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 758px) {
  .banner__title {
    font-size: 30px;
    right: 40px;
  }
}
@media screen and (max-width: 480px) {
  .banner__title {
    font-size: 25px;
  }
}

.content {
  margin-top: 50px;
}

.desc {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
@media screen and (max-width: 960px) {
  .desc {
    display: block;
  }
}
.desc__left {
  width: 50%;
}
@media screen and (max-width: 960px) {
  .desc__left {
    width: 100%;
  }
}
.desc__right {
  margin-left: 30px;
  width: 50%;
}
@media screen and (max-width: 960px) {
  .desc__right {
    width: 70%;
    margin: 30px auto;
  }
}
@media screen and (max-width: 480px) {
  .desc__right {
    width: 100%;
  }
}
.desc__map {
  width: 100%;
}

.topics {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.topics:last-child {
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  .topics:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .topics {
    display: block;
    margin: 0;
  }
}
.topics__item {
  align-items: center;
  display: flex;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .topics__item {
    width: 100%;
  }
}
.topics__img {
  margin-right: 15px;
  width: 50px;
}
@media screen and (max-width: 960px) {
  .topics__img {
    width: 35px;
  }
}
.topics__text {
  font: 18px "Lato Bold", "sans-serif";
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.grid:first-child {
  margin-top: 20px;
}
.grid__item {
  margin: 5px auto;
  text-align: center;
  width: 19%;
}
@media screen and (max-width: 1130px) {
  .grid__item {
    width: 24%;
  }
}
@media screen and (max-width: 1024px) {
  .grid__item {
    width: 30%;
  }
}
@media screen and (max-width: 758px) {
  .grid__item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .grid__item {
    width: 100%;
  }
}
.grid__img {
  height: 170px;
  width: 250px;
}

.footer {
  align-items: center;
  background: #333;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 15px;
}
@media screen and (max-width: 758px) {
  .footer {
    display: block;
    text-align: center;
  }
}
.footer__infos {
  color: #fcfffd;
  font: 16px "Lato Bold", "sans-serif";
}
.footer__infos p {
  margin: 10px 0;
}
.footer__social-img {
  margin: 20px;
}

.tipos-quartos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1150px;
}
@media screen and (max-width: 758px) {
  .tipos-quartos {
    display: block;
  }
}

.quarto {
  margin-bottom: 130px;
  position: relative;
  width: 47%;
}
@media screen and (max-width: 758px) {
  .quarto {
    margin: 0 auto 70px;
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .quarto {
    width: 90%;
  }
}
.quarto__image-img {
  border-radius: 20px;
  max-height: 350px;
  margin: 20px 0;
  width: 100%;
}
.quarto__text {
  color: #04030F;
  font: 15px/20px "Lato Regular", "sans-serif";
}
.quarto__text--title {
  font: 22px "Montserrat SemiBold", "sans-serif";
  margin-bottom: 10px;
  text-transform: uppercase;
}
.quarto__btn {
  border: 3px solid #64b6ac;
  border-radius: 5px;
  background: #64b6ac;
  color: #fcfffd;
  cursor: pointer;
  font: 16px "Lato Bold", "sans-serif";
  margin-top: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  width: 200px;
}
.quarto__btn:hover {
  background: #fcfffd;
  color: #64b6ac;
}

.quartos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
}

.quarto {
  margin-bottom: 70px;
}
.quarto--main {
  margin-bottom: 130px;
}
.quarto__image-img-detalhes {
  max-height: 200px;
}
.quarto__btn_reserve {
  margin-top: 40px;
}
.quarto__informacoes {
  display: flex;
  justify-content: space-between;
}
.quarto__text--diaria {
  font: 16px "Montserrat SemiBold", "sans-serif";
  text-transform: uppercase;
}

/* Temporário */
* {
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .container-contato {
    padding: 90px 15px 88px 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .container-contato {
    padding: 90px 80px 88px 80px;
  }

  .form-contato {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .container-contato {
    padding: 90px 80px 88px 90px;
  }

  .form-contato {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .form-contato {
    width: 44%;
  }
}
.active {
  border-bottom: 2px solid #04030F;
  color: #04030F;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contato {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contato-img {
  width: 296px;
}

.contato-img img {
  max-width: 100%;
}

.container-contato {
  width: 1163px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 130px 60px 150px;
}

.form-contato {
  width: 390px;
}

.form-title {
  display: block;
  font: 24px "Montserrat Light", "sans-serif";
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
}

.form-group {
  width: 100%;
  z-index: 1;
}

input.form-input {
  height: 50px;
  border-radius: 10px;
  padding: 0 30px;
  margin-bottom: 20px;
}

textarea.form-input {
  min-height: 150px;
  border-radius: 10px;
  padding: 12px 30px;
  resize: none;
}

.form-input {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font: 15px "Montserrat Bold", "sans-serif";
  line-height: 1.5;
  color: #666666;
}

.form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #64b6ac;
  font: 15px "Montserrat Bold", "sans-serif";
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover {
  background: #333333;
}

.btn:hover span {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

.btn span {
  margin-left: 7px;
  margin-top: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.banner {
  background-image: url(../assets/images/banner.jpg);
  background-size: 100%;
  position: relative;
}

.footer {
  align-items: center;
  background: #333;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 15px;
}

.nova__reserva .quarto__image {
  width: 50%;
  margin: 0;
}
.nova__reserva .quarto__name {
  font: 25px "Montserrat Regular", "sans-serif";
  font-weight: 600;
}
.nova__reserva .quarto__reserva {
  display: flex;
}
.nova__reserva .quarto__reserva--right {
  padding: 20px 40px;
  height: auto;
  width: 100%;
}
.nova__reserva .reserva__nova .wrapper {
  width: 60%;
}
@media (max-width: 1100px) {
  .nova__reserva .reserva__nova .wrapper {
    width: 90%;
  }
}
.nova__reserva .desc__reserva {
  flex-direction: column;
  width: 100%;
}
.nova__reserva .desc__reserva .topics__text {
  font-size: 15px;
}
.nova__reserva hr {
  margin: 20px 0;
}
.nova__reserva .form__title {
  margin: 20px 0 40px;
  display: block;
  font: 25px "Montserrat Regular", "sans-serif";
}
.nova__reserva .form__reserva .btn {
  margin: 0 auto 50px;
}
.nova__reserva .form-label {
  font: 15px "Montserrat Regular";
  margin: 0 0 10px;
  display: block;
}

.d-none {
  display: none;
}

.container-contato {
  padding: 40px 30px 50px 30px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font: 16px "Montserrat", "sans-serif";
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
}

.table thead th:first-child {
  font: 16px "Montserrat Bold", "sans-serif";
}

.table th, .table td {
  font: 16px "Montserrat", "sans-serif";
  padding: 0.75rem;
  text-align: center;
}

.table td button {
  font: 16px "Montserrat Bold", "sans-serif";
  min-width: 140px !important;
  padding: 0px !important;
  display: inline-block !important;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

/*# sourceMappingURL=style.css.map */
