@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Montserrat Regular';
  src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url(../../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat Light';
  src: url(../../assets/fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Lato Light';
  src: url(../../assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: 'Lato Regular';
  src: url(../../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lato Bold';
  src: url(../../assets/fonts/Lato/Lato-Bold.ttf);
}
body {
  background: #fcfffd;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.main-container {
  padding-top: 20px;
}

.title {
  border-bottom: 1px solid #8a8a8a;
  font: 30px/35px "Montserrat Regular", "sans-serif";
  padding-bottom: 5px;
  text-transform: uppercase;
}

.text {
  font: 16px/20px "Lato Regular", "sans-serif";
}

.menu {
  align-items: center;
  background: #64b6ac;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.menu__img {
  width: 130px;
}
.menu__pages {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  margin: 0 30px;
}
.menu__link {
  border-bottom: 2px solid transparent;
  color: #fcfffd;
  font: 18px "Montserrat Bold", "sans-serif";
  outline: none;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
}
.menu__link:hover {
  border-bottom: 2px solid #04030F;
  color: #04030F;
}

.banner {
  background-image: url(../assets/images/banner.jpg);
  background-size: 100%;
  height: 600px;
  position: relative;
}
.banner__title {
  background: #0000008c;
  color: #fcfffd;
  font: 52px "Montserrat Light", "sans-serif";
  padding: 5px;
  position: absolute;
  top: 15%;
  right: 70px;
  transform: translateY(-50%);
}

.content {
  margin-top: 50px;
}

.desc {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.desc__left {
  width: 55%;
}
.desc__map {
  width: 450px;
}

.topics {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.topics:last-child {
  margin-top: 15px;
}
.topics__item {
  align-items: center;
  display: flex;
  width: 50%;
}
.topics__img {
  margin-right: 15px;
  width: 50px;
}
.topics__text {
  font: 18px "Lato Bold", "sans-serif";
}

.quartos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1150px;
}
@media screen and (max-width: 758px) {
  .quartos {
    display: block;
  }
}

.quarto {
  position: relative;
  width: 47%;
}
@media screen and (max-width: 758px) {
  .quarto {
    margin: 0 auto 70px;
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .quarto {
    width: 90%;
  }
}
.quarto__image-img {
  border-radius: 20px;
  height: auto;
  margin: 20px 0;
  width: 100%;
}
.quarto__text {
  color: #04030F;
  font: 15px/20px "Lato Regular", "sans-serif";
}
.quarto__text--title {
  font: 22px "Montserrat SemiBold", "sans-serif";
  margin-bottom: 10px;
  text-transform: uppercase;
}
.quarto__btn {
  border: 3px solid #64b6ac;
  border-radius: 5px;
  background: #64b6ac;
  color: #fcfffd;
  cursor: pointer;
  font: 16px "Lato Bold", "sans-serif";
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width: 110px;
}
.quarto__btn:hover {
  background: #fcfffd;
  color: #64b6ac;
}

/*# sourceMappingURL=style.css.map */
