.container-contato {
    padding: 40px 30px 50px 30px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}


th {
    text-align: inherit;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font: 16px "Montserrat", "sans-serif";
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
}

.table thead th:first-child {
    font: 16px "Montserrat Bold", "sans-serif";
}

.table th, .table td {
    font: 16px "Montserrat", "sans-serif";
    padding: 0.75rem;
    text-align: center;
}

.table td button {
    font: 16px "Montserrat Bold", "sans-serif";
    min-width: 140px!important;
    padding: 0px!important;
    display: inline-block!important;
}


.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}