.quartos {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.quarto {
    position: relative;
    width: 47%;

    &__image {
        &-img {
            border-radius: 20px;
            height: 280px;
            margin: 20px 0;
            width: 100%;
        }
    }

    &__text {
        color: $black;
        font: 15px/20px $font-regular;
        
        &--title {
            font: 22px $title-semibold;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }

    &__btn {
        border: 3px solid $green;
        border-radius: 5px;
        background: $green;
        color: $white;
        cursor: pointer;
        font: 16px $font-bold;
        margin-top: 10px;
        padding: 5px 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        transition: all .5s ease-in-out;
        width: 110px;

        &:hover {
            background: $white;
            color: $green;
        }
    }
}